<div class="content">
	<section class="contact-us">
		<h3 class="page-title">Contact us</h3>
		<form method="post" action="/contact-sent" class="contact-form">
			<div>
				<input type="text" name="name" placeholder="Enter Your Name">
			</div>
			<div>
				<input type="text" name="message" placeholder="Message...">
			</div>
      <div>
				<input type="email" name="email" placeholder="Enter your email">
			</div>
			<div>
				<button class="btn" type="submit" id="submitBtn">Send Your Message</button>
			</div>
		</form>
	</section>
</div>