<div class="content">
	<section class="thank-you">
		<h3 class="page-title">Thank you!</h3>
		<p>We'll reply you as soon as possible.</p>
		{{#with data}}
			<p>Name: {{name}}</p>
			<p>Message: {{message}}</p>
			<p>Email: {{email}}</p>
		{{/with}}
	</section>
</div>